<tr>
  <td scope="row">
    <%= product.product_name %>
  </td>
  <td class="text-center">
    <%= product.category.category_name %>
  </td>
  <td class="text-center">
    <%= product.price %>
  </td>
  <td class="text-center">
    <%= link_to "商品詳細", product, class: "btn btn-primary btn-sm" %>
  </td>
</tr>